.button-contact {
    color: #FFF;
    text-align: center;
    font-size: 0.875rem; /* 14px = 0.875rem */
    font-weight: 900;
    text-transform: uppercase;
    padding: 1rem 2.125rem; /* 16px = 1rem, 34px = 2.125rem */
    line-height: normal;
    border-radius: 0.375rem; /* 6px = 0.375rem */
    border: 1px solid rgba(255, 255, 255, 0.30);
    transition: background-color 0.3s;
}

@media (any-hover: hover) {
    .button-contact:hover {
        background-color: #B550F8;
    }
    .button-contact:active {
        background-color: #c17eee;
    }
}
