@import url(fonts.css);
@import url(null.css);

body {
    font-family: 'Source Sans Pro', sans-serif;
}
[class*="__container"] {
    max-width: 1054px;
    padding-inline: 15px;
    margin: 0 auto;
}
[class*="page__"], .footer {
    padding-block: 64px;
}
@media (max-width: 767.98px) {
    [class*="page__"],
    .footer {
        padding-block: 32px;
    }  
}

.button {
    border-radius: 4px;
    background: #D8AE5E;
    color: #F4F4F4;
    text-transform: uppercase;
    padding: 8px 16px;
    transition: all 0.3s;
}
@media (any-hover: hover) {
    .button:hover {
        background: #b18b45;  
    }
}

.header-block {
    text-align: center;
}
.header-block::after {
    content: "";
    width: 120px;
    height: 1px;
    background-color: #D8AE5E;
    margin-top: 32px;
}
.header-block__title {
    font-family: 'Bodoni 72', serif;
    text-transform: uppercase;
    font-size: 64px;
}
.header-block__title:not(:last-child) {
    margin-bottom: 8px;
}
.header-block__text {
    text-transform: uppercase;
    letter-spacing: 0.8px;
    line-height: 1.2;
    font-family: "Source Sans Pro", sans-serif;
}
.header-block__text p:not(:last-child) {
    margin-bottom: 5px;
}
@media (max-width: 767.98px) {
    .header-block__title {
        font-size: 46px;
    }
    .header-block::after {
        margin-top: 16px;
    }
    .header-block__text {
        font-size: 14px;
    }
}
@media (max-width: 479.98px) {
    .header-block__title {
        font-size: 32px;
    }
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.wrapper > main {
    flex-grow: 1;
}

.hero {
    position: relative;
    color: #fff;
}
.hero::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #000;
    opacity: 0.6;
    z-index: 2;
}
.hero__container {
    text-align: center;
    position: relative;
    z-index: 3;
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 7.767svh;
    row-gap: 15.534svh;
}
.hero__header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 3.8835svh;
}
.menu__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 16px;
    row-gap: 16px;
}
@media (any-hover: hover) {
    .menu__link:hover {
        text-decoration: underline;
    }
}

.hero__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    row-gap: 2.4272svh;
}
.hero__title {
    font-family: 'Bodoni 72', serif;
    font-size: 96px;
    text-transform: uppercase;
}
.hero__label {
    font-size: 24px;
    text-transform: uppercase;
}
.hero__image {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    object-fit: cover;
}
@media (max-width: 767.98px) {
    .hero__title {
        font-size: 66px;
    }
    .menu__link {
        font-size: 20px;
    }
}

.about__header {
    margin-bottom: 32px;
}
.about__content {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}
.about__text {
    letter-spacing: 1px;
    line-height: 1.5;
    font-size: 20px;
}
.about__text:not(:last-child) {
    margin-bottom: 32px;
}
.about__text p:not(:last-child) {
    margin-bottom: 10px;
}
@media (max-width: 767.98px) {
    .about__text {
        font-size: 16px;
    }
    .about__text:not(:last-child) {
        margin-bottom: 16px;
    }
    .about__header {
        margin-bottom: 16px;
    }
}

.activities {
    background-color: #f4f4f4;
}
.activities__container {
    display: flex;
    flex-direction: column;
    gap: 64px;
    align-items: center;
}
.activities__items {
    max-width: 930px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 128px;
    row-gap: 96px;
}
.activities__item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.item-activities__image {
    flex-grow: 1;
}
.item-activities__label {
    letter-spacing: 1px;
    font-size: 20px;
}
.activities__link {
    padding-bottom: 8px;
    border-bottom: 1px solid #d8ae5e;
    transition: all 0.3s;
}
@media (any-hover: hover) {
    .activities__link:hover {
        border-bottom: 1px solid #000;
    }
}
@media (max-width:991.98px) {
    .activities__items {
        row-gap: 50px;
        column-gap: 80px;
    }
}
@media (max-width:767.9px) {
    .activities__items {
        row-gap: 30px;
        column-gap: 50px;
    }
    .activities__container {
        gap: 32px;
    }
}
@media (max-width:430px) {
    .activities__items {
        justify-content: flex-start;
        row-gap: 15px;
        column-gap: 20px;
    }
    .activities__item {
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        column-gap: 25px;
        flex: 1 1 100%;
        text-align: left;
    }
    .item-activities__image {
        flex: 0 0 80px;
    }
}

.amenities__header {
    margin-bottom: 64px;
}
.amenities__section:not(:last-child) {
    margin-bottom: 74px;
}
.section-amenities__title {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    letter-spacing: 3.6px;
}
.section-amenities__title:not(:last-child) {
    margin-bottom: 32px;
}
.section-amenities__items {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.section-amenities__item {
    border-radius: 4px;
    overflow: hidden;
    flex-basis: 291px;
}
.section-amenities__link {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    aspect-ratio: 291 / 286;
    text-align: center;
}
.section-amenities__libel {
    line-height: 1.2;
    position: relative;
    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    font-size: 28px;
    letter-spacing: 4.2px;
}
.section-amenities__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 2;
    transition: all 0.5s;
}
@media (max-width: 1053.98px) {
    .section-amenities__items {
        justify-content: center;
    }
}
@media (max-width: 767.98px) {
    .amenities__section:not(:last-child) {
        margin-bottom: 32px;
    }
    .section-amenities__libel {
        font-size: 21px;
    }
    .amenities__header {
        margin-bottom: 32px;
    }
}

.contacts {
    background-color: #F4F4F4;
}
.contacts__container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.contacts__text {
    font-size: 20px;
}
.contacts__text:not(:last-child) {
    margin-bottom: 32px;
}
.contacts__text p:not(:last-child) {
    margin-bottom: 10px;
}
@media (max-width: 767.98px) {
    .contacts__container {
        gap: 32px;
    }
    .contacts__text {
        font-size: 16px;
    }
    .contacts__text:not(:last-child) {
        margin-bottom: 16px;
    }
}
.footer__text {
    font-size: 14px;
    color: #fff;
}
.footer__text p:not(:last-child) {
    margin-bottom: 5px;
}
