.header__title {
    padding-block-start: 20px;
    margin-bottom: 80px;
}


.title-block {
    font-size: 30px;
    font-weight: 700;
}
.title-block__title {
    font-size: 30px;
    font-weight: 700;
}
.title-block--center {
    text-align: center;
}

