$Gray-50: #F0F1F3;
$Gray-100: #E6E8EB;
$Gray-200: #C3C7CE;
$Gray-300: #BBBCC2;
$Gray-400: #A5ACB5;
$Gray-500: #87909D;
$Gray-600: #697484;
$Gray-700: #556070;
$Gray-800: #424E60;
$Gray-900: #132238;

$Text-Dark: #132238;

// Основной фиолетовый
$primary-500: #A53DFF; 
// Для hover-эффекта
$primary-600: #8431CC; 
$white: #FFF;

// Отступы
$padding-sm: toRem(8);
$padding-md: toRem(12);
$padding-lg: toRem(24);





