@import url("reset.css");

p {
    color: red;
}

h1 {
    color: blue;
}

.header {
    color: gray;
}

.links {
    color: black;
}

.item {
    color: green;
}

.kyiv {
    color: yellow;
}

.black-sea {
    color: lightblue;
}

.war-tourism {
    color: gray;
}

/* Вкладеність */
#kyiv h2 {
    color: orange;
}

#west-ukraine p {
    color: green;
}

.links a {
    color: red;
}

.nature-wonders h2 mark {
    color: violet;
}

footer p {
    color: lightpink;
}

#war-tourism h2 {
    color: darkred;
}
