.hero {
    position: relative;
    &__container {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: -50px;
            transform: rotate(-30deg);
            width: 541px;
            transform: translateX(-80%);
            height: 226px;
            z-index: -1;
            border-radius: 541px;
            background: linear-gradient(182deg, #FFDFA8 -157.44%, rgba(255, 226, 176, 0.96) -157.4%, rgba(255, 234, 198, 0.67) 216.94%, rgba(250, 211, 144, 0.80) 216.94%);
            filter: blur(100px);
        }
    }
    &__about {
        position: relative;
        display: flex;
        padding: toRem(112);
        @include adaptiveValue("padding", 112, 50);
        background-color: $white;
        justify-content: center;
        align-items: center;
        gap: toRem(136);
        box-shadow: 0 toRem(36) toRem(105) 0px rgba(43, 56, 76, 0.10);
        border-radius: toRem(16);
        margin-bottom: toRem(-112);
        @media (max-width: toEm(1023.98)){  
            padding: toRem(50);
        }

        &-img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            bottom: 0;
            object-fit: cover;
        }

    }

    &__about-photo {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        background-color: $Gray-50;
        width: 424px;
        height: 468px;
        // overflow: hidden;
        // flex-basis: toRem(424);
        z-index: 20;
        @media (max-width: toEm(1023.98)){
             display: none; 
        }
    }
    &__about-icons {
        position: relative;
        padding: 0.75rem;
        transform: translateY(50%);
    }

    &__about-title {
        flex: 0 1 toRem(536);
        @media (max-width: toEm(1023.98)){  
            flex: 1 1 toRem(536);
        }
    }
}

